openapi: 3.1.0
info:
  title: ManuMu Studio Authentication API
  version: 1.8.4
  description: |
    Current application-owned authentication and OAuth/OIDC endpoints.
    NextAuth's generated `/api/auth/*` endpoints are intentionally excluded.
servers:
  - url: https://auth.manumustudio.com
  - url: http://localhost:3000

paths:
  /.well-known/openid-configuration:
    get:
      summary: Read OIDC discovery metadata
      responses:
        "200":
          description: OIDC provider metadata
          content:
            application/json:
              schema:
                type: object
                required:
                  - issuer
                  - jwks_uri
                  - authorization_endpoint
                  - token_endpoint
                additionalProperties: true

  /jwks.json:
    get:
      summary: Read the RS256 public signing key set
      responses:
        "200":
          description: JSON Web Key Set
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "500":
          description: Signing key is unavailable

  /oauth/authorize:
    get:
      summary: Start an authorization-code request
      description: Browser endpoint rendered by the Next.js page.
      parameters:
        - $ref: "#/components/parameters/ClientId"
        - $ref: "#/components/parameters/RedirectUri"
        - name: response_type
          in: query
          schema:
            type: string
            const: code
        - name: scope
          in: query
          schema:
            type: string
            example: openid email profile
        - name: state
          in: query
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          schema:
            type: string
            enum: [plain, S256]
        - name: nonce
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Consent or authentication page
          content:
            text/html:
              schema:
                type: string

  /oauth/token:
    post:
      summary: Exchange an authorization code for tokens
      security:
        - clientBasic: []
        - {}
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TokenRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
      responses:
        "200":
          description: Token response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request, grant, or grant type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "401":
          description: Client authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/userinfo:
    get:
      summary: Read claims allowed by the access-token scopes
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OIDC user claims
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "401":
          description: Missing or invalid access token

  /oauth/logout:
    get:
      summary: End the auth-server session
      parameters:
        - name: id_token_hint
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: post_logout_redirect_uri
          in: query
          schema:
            type: string
            format: uri
        - name: state
          in: query
          schema:
            type: string
      responses:
        "307":
          description: Redirect after clearing NextAuth cookies
        "400":
          description: Invalid client, token hint, or redirect URI

  /api/auth/verify:
    post:
      summary: Verify an email OTP and create a NextAuth session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        "200":
          description: Verification succeeded and session cookie was set
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    const: true
        "400":
          description: Invalid, expired, or exhausted OTP
        "404":
          description: Verified user row could not be loaded
        "429":
          description: Rate limit exceeded

  /api/auth/verify/resend:
    post:
      summary: Resend an email verification OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: OTP was issued
        "400":
          description: Invalid request, cooldown, missing user, or verified user
        "429":
          description: Rate limit exceeded

components:
  securitySchemes:
    clientBasic:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ClientId:
      name: client_id
      in: query
      required: true
      schema:
        type: string
    RedirectUri:
      name: redirect_uri
      in: query
      required: true
      schema:
        type: string
        format: uri

  schemas:
    TokenRequest:
      type: object
      required: [grant_type, code]
      properties:
        grant_type:
          type: string
          const: authorization_code
        code:
          type: string
        redirect_uri:
          type: string
          format: uri
        client_id:
          type: string
        client_secret:
          type: string
          writeOnly: true
        code_verifier:
          type: string

    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in, scope]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          const: Bearer
        expires_in:
          type: integer
          example: 3600
        scope:
          type: string
        id_token:
          type: string

    OAuthError:
      type: object
      required: [error, error_description]
      properties:
        error:
          type: string
        error_description:
          type: string

    UserInfo:
      type: object
      required: [sub]
      properties:
        sub:
          type: string
        email:
          type: string
          format: email
        email_verified:
          type: boolean
        name:
          type:
            - string
            - "null"
        picture:
          type:
            - string
            - "null"
